#bg {
	background-image: url("content/background-images/wallpaper-292730.png");
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 55% 80%;
}
#bg {
background-color: #000000;
}
.site-title, li.note { color: white; text-shadow: none;}
